@page "/counter"

<PageTitle>>@Localizer["Counter"]</PageTitle>

    <h1>@Localizer["Counter"]</h1>

<p role="status">@Localizer["Current count:"] @currentCount</p>

<button class="btn btn-sm btn-primary" @onclick="IncrementCount">@Localizer["Click me"]</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
